$--font-path: '~element-ui/lib/theme-chalk/fonts';

@font-face {
  font-family: 'element-icons';
  src: url('#{$--font-path}/element-icons.woff') format('woff'), /* chrome, firefox */
  url('#{$--font-path}/element-icons.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  font-weight: normal;
  font-display: auto;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
}

.theme-simple {
  @import "src/assets/themes/simple/index";
}

.theme-default {
  @import "src/assets/themes/default/index";
}
