// 自定义变量
$---menu--inline-background-color: #13161C !default;
$---index-header-height: 50px !default;
$---padding-common: 15px !default;
$---margin-common: 15px !default;
$---border-line-color: #E6E6E6 !default;
@import "~element-ui/packages/theme-chalk/src/index";
.el-menu-item.is-active {
  color: $--color-white;
  background-color: $--menu-item-hover-fill;
  font-weight: $--font-weight-primary;
}

.el-menu--inline {
  background-color: $---menu--inline-background-color;
}

.el-submenu__title {
  font-weight: $--font-weight-primary;
}

.login-form {
  width: 500px;
  max-width: 100%;
  max-height: 100%;
  margin: 10vh auto;

  .el-card__header {
    background-color: $--menu-background-color;
    color: $--menu-item-font-color;
  }

  .login-button {
    width: 100%;
  }
}

.index-menu {
  color: $--menu-item-font-color;

  .index-title {
    color: $--menu-item-font-color;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
  }
}

.index-menu, #app, .index-container, .top-menu {
  height: 100%;
}

.index-menu:not(.el-menu--collapse) {
  width: 220px;
}

.top-menu {
  border-bottom: 1px solid $---border-line-color;
}

.index-header {
  padding: 0;
  height: $---index-header-height;
}

.index-collapse-icon {
  font-size: 25px;
  line-height: $---index-header-height;
}

.el-dropdown-link {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.padding-t {
  padding-top: $---padding-common;
}

.padding-l {
  padding-left: $---padding-common;
}

.padding-b {
  padding-bottom: $---padding-common;
}

.padding-r {
  padding-right: $---padding-common;
}

.padding {
  @extend .padding-t, .padding-r, .padding-b, .padding-l;
}

.padding-lr {
  @extend .padding-r, .padding-l;
}

.padding-tb {
  @extend .padding-t, .padding-b;
}

.margin-t {
  margin-top: $---margin-common;
}

.margin-l {
  margin-left: $---margin-common;
}

.margin-b {
  margin-bottom: $---margin-common;
}

.margin-r {
  margin-right: $---margin-common;
}

.margin {
  @extend .margin-t, .margin-r, .margin-b, .margin-l;
}